In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
df = pd.read_csv('merged-dataset-week1_Luigi.csv')
df = df.dropna()
df

In [ ]:
mydb = mysql.connector.connect(
  host="newinstance.cbrgfxuqelbo.us-east-2.rds.amazonaws.com",
  user="root",
  passwd="1234567aA",
  database="flask_first"
)

cursor = mydb.cursor()

In [ ]:
for index,row in df.iterrows():
    sql = "INSERT INTO tweets (timestamp,id,tweet_text,username, party) VALUES (%s, %s,%s,%s,%s,%s,%s,%s)"
    val = (row['timestamp'], row['id'], row['tweet_text'], row['username'],row['party'])
    mycursor.execute(sql, val)
mydb.commit()

In [ ]:
cursor.close()
mydb.close()