In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
from openpyxl.workbook import Workbook
import re
import csv
import numpy as np

In [5]:
joblist_file = pd.read_excel('24-banks-jobs.xlsx')
keyword_file = pd.read_excel('Keyword list(1).xlsx')

payment_cluster_word_list = keyword_file["Payments"].tolist()
wealth_management_cluster_word_list = keyword_file["Wealth Management"].tolist()
blockchain_cluster_word_list = keyword_file["Blockchain"].tolist()
ai_cluster_word_list = keyword_file["Artificial Intelligence"].tolist()
regTech_cluster_word_list = keyword_file["Reg Tech"].tolist()
retail_cluster_word_list = keyword_file["Retail"].tolist()
tech_cluster_word_list = keyword_file["Technology"].tolist()
da_cluster_word_list = keyword_file["Data Analysis"].tolist()
insurance_cluster_word_list = keyword_file["Insurance"].tolist()

In [6]:
payment_cluster_word_list = [incom for incom in payment_cluster_word_list if str(incom) != 'nan']
wealth_management_cluster_word_list = [incom for incom in wealth_management_cluster_word_list if str(incom) != 'nan']
blockchain_cluster_word_list = [incom for incom in blockchain_cluster_word_list if str(incom) != 'nan']
ai_cluster_word_list = [incom for incom in ai_cluster_word_list if str(incom) != 'nan']
regTech_cluster_word_list = [incom for incom in regTech_cluster_word_list if str(incom) != 'nan']
retail_cluster_word_list = [incom for incom in retail_cluster_word_list if str(incom) != 'nan']
tech_cluster_word_list = [incom for incom in tech_cluster_word_list if str(incom) != 'nan']
da_cluster_word_list = [incom for incom in da_cluster_word_list if str(incom) != 'nan']
insurance_cluster_word_list = [incom for incom in da_cluster_word_list if str(incom) != 'nan']

In [8]:
df2 = pd.DataFrame(columns=['Job ID','Bank Name'])

In [9]:
# Payment cluster
# payment_cluster_word_list
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
list6=[]
n=joblist_file.shape[0]#The value of the last index
#First for loop is for Looping through each url
#Second for loop is for looping through each cluster words
for k in range(0,n):
    for i in payment_cluster_word_list:
        if type(joblist_file['Description'].iloc[k]) == str:
            if i in joblist_file['Description'].iloc[k]:
                desc = joblist_file['Description'].iloc[k]
                c = len(re.findall(i,desc,flags=re.IGNORECASE))
                list3.append(c)
                list1.append(i)
    list2.append(list1[:])
    list4.append(list3[:])
    list5.append(sum(list3[:]))
    list6.append(list5[-1])
    del list1[:]
    del list3[:]
    del list5[:]
    
df2['Job ID'] = joblist_file['Job ID']
df2['Bank Name'] = joblist_file['Bank Name']
df2['cluster']='Payments'
df2['cluster_words']=list2
df2['count'] = list4
df2['weight']=list6

In [ ]:
# wealth_management_cluster_word_list
# Wealth Management
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
list6=[]
n=joblist_file.shape[0]#The value of the last index
#First for loop is for Looping through each url
#Second for loop is for looping through each cluster words
for k in range(0,n):
    for i in wealth_management_cluster_word_list:
        if type(joblist_file['Description'].iloc[k]) == str:
            if i in joblist_file['Description'].iloc[k]:
                desc = joblist_file['Description'].iloc[k]
                c = len(re.findall(i,desc,flags=re.IGNORECASE))
                list3.append(c)
                list1.append(i)
    list2.append(list1[:])
    list4.append(list3[:])
    list5.append(sum(list3[:]))
    list6.append(list5[-1])
    del list1[:]
    del list3[:]
    del list5[:]

i=0
for loc in range(0,n+1):
    if i<len(list2):
        df2=df2.append({'cluster_words':list2[i],'cluster':'Wealth Management','Bank Name': joblist_file['Bank Name'].iloc[loc],'Job ID' : joblist_file['Job ID'].iloc[loc], 'count': list4[i],'weight':list6[i]},ignore_index=True)
        i=i+1

In [ ]:
# Blockchain Cluster words
# blockchain_cluster_word_list
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
list6=[]
n=joblist_file.shape[0]#The value of the last index
#First for loop is for Looping through each url
#Second for loop is for looping through each cluster words
for k in range(0,n):
    for i in blockchain_cluster_word_list:
        if type(joblist_file['Description'].iloc[k]) == str:
            if i in joblist_file['Description'].iloc[k]:
                desc = joblist_file['Description'].iloc[k]
                c = len(re.findall(i,desc,flags=re.IGNORECASE))
                list3.append(c)
                list1.append(i)
    list2.append(list1[:])
    list4.append(list3[:])
    list5.append(sum(list3[:]))
    list6.append(list5[-1])
    del list1[:]
    del list3[:]
    del list5[:]


i=0
for loc in range(0,n+1):
    if i<len(list2):#Blockchain
        df2=df2.append({'cluster_words':list2[i],'cluster':'Blockchain','Bank Name': joblist_file['Bank Name'].iloc[loc],'Job ID' : joblist_file['Job ID'].iloc[loc], 'count': list4[i],'weight':list6[i]},ignore_index=True)
        i=i+1

In [ ]:
# Artificial Intelligence
# ai_cluster_word_list
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
list6=[]
n=joblist_file.shape[0]#The value of the last index
#First for loop is for Looping through each url
#Second for loop is for looping through each cluster words
for k in range(0,n):
    for i in ai_cluster_word_list:
        if type(joblist_file['Description'].iloc[k]) == str:
            if i in joblist_file['Description'].iloc[k]:
                desc = joblist_file['Description'].iloc[k]
                c = len(re.findall(i,desc,flags=re.IGNORECASE))
                list3.append(c)
                list1.append(i)
    list2.append(list1[:])
    list4.append(list3[:])
    list5.append(sum(list3[:]))
    list6.append(list5[-1])
    del list1[:]
    del list3[:]
    del list5[:]

i=0
for loc in range(0,n+1):
    if i<len(list2):#Artificial Intelligence
        df2=df2.append({'cluster_words':list2[i],'cluster':'Artificial Intelligence','Bank Name': joblist_file['Bank Name'].iloc[loc],'Job ID' : joblist_file['Job ID'].iloc[loc], 'count': list4[i],'weight': list6[i]},ignore_index=True)
        i=i+1

In [ ]:
# regTech_cluster_word_list
# Reg Tech
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
list6=[]
n=joblist_file.shape[0]#The value of the last index
#First for loop is for Looping through each url
#Second for loop is for looping through each cluster words
for k in range(0,n):
    for i in regTech_cluster_word_list:
        if type(joblist_file['Description'].iloc[k]) == str:
            if i in joblist_file['Description'].iloc[k]:
                desc = joblist_file['Description'].iloc[k]
                c = len(re.findall(i,desc,flags=re.IGNORECASE))
                list3.append(c)
                list1.append(i)
    list2.append(list1[:])
    list4.append(list3[:])
    list5.append(sum(list3[:]))
    list6.append(list5[-1])
    del list1[:]
    del list3[:]
    del list5[:]

i=0
for loc in range(0,n+1):
    if i<len(list2):#Reg Tech
        df2=df2.append({'cluster_words':list2[i],'cluster':'Reg Tech','Bank Name': joblist_file['Bank Name'].iloc[loc],'Job ID' : joblist_file['Job ID'].iloc[loc], 'count': list4[i],'weight':list6[i]},ignore_index=True)
        i=i+1

In [ ]:
# Retail Cluster
# retail_cluster_word_list
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
list6=[]
n=joblist_file.shape[0]#The value of the last index
#First for loop is for Looping through each url
#Second for loop is for looping through each cluster words
for k in range(0,n):
    for i in retail_cluster_word_list:
        if type(joblist_file['Description'].iloc[k]) == str:
            if i in joblist_file['Description'].iloc[k]:
                desc = joblist_file['Description'].iloc[k]
                c = len(re.findall(i,desc,flags=re.IGNORECASE))
                list3.append(c)
                list1.append(i)
    list2.append(list1[:])
    list4.append(list3[:])
    list5.append(sum(list3[:]))
    list6.append(list5[-1])
    del list1[:]
    del list3[:]
    del list5[:]

i=0
for loc in range(0,n+1):
    if i<len(list2):
        df2=df2.append({'cluster_words':list2[i],'cluster':'Retail','Bank Name': joblist_file['Bank Name'].iloc[loc],'Job ID' : joblist_file['Job ID'].iloc[loc], 'count': list4[i], 'weight':list6[i]},ignore_index=True)
        i=i+1

In [ ]:
# tech_cluster_word_list
# Technology
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
list6=[]
n=joblist_file.shape[0]#The value of the last index
#First for loop is for Looping through each url
#Second for loop is for looping through each cluster words
for k in range(0,n):
    for i in tech_cluster_word_list:
        if type(joblist_file['Description'].iloc[k]) == str:
            if i in joblist_file['Description'].iloc[k]:
                desc = joblist_file['Description'].iloc[k]
                c = len(re.findall(i,desc,flags=re.IGNORECASE))
                list3.append(c)
                list1.append(i)
    list2.append(list1[:])
    list4.append(list3[:])
    list5.append(sum(list3[:]))
    list6.append(list5[-1])
    del list1[:]
    del list3[:]
    del list5[:]


i=0
for loc in range(0,n+1):
    if i<len(list2):#Technology
        df2=df2.append({'cluster_words':list2[i],'cluster':'Technology','Bank Name': joblist_file['Bank Name'].iloc[loc],'Job ID' : joblist_file['Job ID'].iloc[loc],'count': list4[i],'weight':list6[i]},ignore_index=True)
        i=i+1

In [ ]:
# da_cluster_word_list
# Data Analysis
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
list6=[]
n=joblist_file.shape[0]#The value of the last index
#First for loop is for Looping through each url
#Second for loop is for looping through each cluster words
for k in range(0,n):
    for i in da_cluster_word_list:
        if type(joblist_file['Description'].iloc[k]) == str:
            if i in joblist_file['Description'].iloc[k]:
                desc = joblist_file['Description'].iloc[k]
                c = len(re.findall(i,desc,flags=re.IGNORECASE))
                list3.append(c)
                list1.append(i)
    list2.append(list1[:])
    list4.append(list3[:])
    list5.append(sum(list3[:]))
    list6.append(list5[-1])
    del list1[:]
    del list3[:]
    del list5[:]


i=0
for loc in range(0,n+1):
    if i<len(list2):
        df2=df2.append({'cluster_words':list2[i],'cluster':'Data Analysis','Bank Name': joblist_file['Bank Name'].iloc[loc],'Job ID' : joblist_file['Job ID'].iloc[loc],'count': list4[i],'weight':list6[i]},ignore_index=True)
        i=i+1

In [10]:
# insurance_cluster_word_list
# Insurance
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
list6=[]
n=joblist_file.shape[0]#The value of the last index
#First for loop is for Looping through each url
#Second for loop is for looping through each cluster words
for k in range(0,n):
    for i in insurance_cluster_word_list:
        if type(joblist_file['Description'].iloc[k]) == str:
            if i in joblist_file['Description'].iloc[k]:
                desc = joblist_file['Description'].iloc[k]
                c = len(re.findall(i,desc,flags=re.IGNORECASE))
                list3.append(c)
                list1.append(i)
    list2.append(list1[:])
    list4.append(list3[:])
    list5.append(sum(list3[:]))
    list6.append(list5[-1])
    del list1[:]
    del list3[:]
    del list5[:]


i=0
for loc in range(0,n+1):
    if i<len(list2):
        df2=df2.append({'cluster_words':list2[i],'cluster':'Insurance','Bank Name': joblist_file['Bank Name'].iloc[loc],'Job ID' : joblist_file['Job ID'].iloc[loc],'count': list4[i],'weight':list6[i]},ignore_index=True)
        i=i+1

In [11]:
df2

        Job ID   Bank Name    cluster cluster_words count  weight
0         WF01  WellsFargo   Payments            []    []       0
1         WF02  WellsFargo   Payments            []    []       0
2         WF03  WellsFargo   Payments            []    []       0
3         WF04  WellsFargo   Payments            []    []       0
4         WF05  WellsFargo   Payments            []    []       0
5         WF06  WellsFargo   Payments            []    []       0
6         WF07  WellsFargo   Payments            []    []       0
7         WF08  WellsFargo   Payments            []    []       0
8         WF09  WellsFargo   Payments            []    []       0
9         WF10  WellsFargo   Payments            []    []       0
10        WF11  WellsFargo   Payments            []    []       0
11        WF12  WellsFargo   Payments            []    []       0
12        WF13  WellsFargo   Payments            []    []       0
13        WF14  WellsFargo   Payments            []    []       0
14        WF15  WellsFargo   Payments            []    []       0
15        WF16  WellsFargo   Payments            []    []       0
16        WF17  WellsFargo   Payments            []    []       0
17        WF18  WellsFargo   Payments            []    []       0
18        WF19  WellsFargo   Payments            []    []       0
19        WF20  WellsFargo   Payments            []    []       0
20        WF21  WellsFargo   Payments            []    []       0
21        WF22  WellsFargo   Payments            []    []       0
22        WF23  WellsFargo   Payments            []    []       0
23        WF24  WellsFargo   Payments            []    []       0
24        WF25  WellsFargo   Payments            []    []       0
25        WF26  WellsFargo   Payments            []    []       0
26        WF27  WellsFargo   Payments            []    []       0
27        WF28  WellsFargo   Payments            []    []       0
28        WF29  WellsFargo   Payments     [payment]   [1]       1
29        WF30  WellsFargo   Payments            []    []       0
...        ...         ...        ...           ...   ...     ...
60330   PNC997    PNC Bank  Insurance        [data]   [2]       2
60331   PNC998    PNC Bank  Insurance        [data]   [2]       2
60332   PNC999    PNC Bank  Insurance        [data]   [2]       2
60333  PNC1000    PNC Bank  Insurance        [data]   [2]       2
60334  PNC1001    PNC Bank  Insurance        [data]   [2]       2
60335  PNC1002    PNC Bank  Insurance        [data]   [2]       2
60336  PNC1003    PNC Bank  Insurance        [data]   [2]       2
60337  PNC1004    PNC Bank  Insurance        [data]   [2]       2
60338  PNC1005    PNC Bank  Insurance        [data]   [2]       2
60339  PNC1006    PNC Bank  Insurance        [data]   [2]       2
60340  PNC1007    PNC Bank  Insurance        [data]   [2]       2
60341  PNC1008    PNC Bank  Insurance        [data]   [2]       2
60342  PNC1009    PNC Bank  Insurance        [data]   [2]       2
60343  PNC1010    PNC Bank  Insurance        [data]   [2]       2
60344  PNC1011    PNC Bank  Insurance        [data]   [2]       2
60345  PNC1012    PNC Bank  Insurance        [data]   [2]       2
60346  PNC1013    PNC Bank  Insurance        [data]   [2]       2
60347  PNC1014    PNC Bank  Insurance        [data]   [2]       2
60348  PNC1015    PNC Bank  Insurance        [data]   [2]       2
60349  PNC1016    PNC Bank  Insurance        [data]   [2]       2
60350  PNC1017    PNC Bank  Insurance        [data]   [2]       2
60351  PNC1018    PNC Bank  Insurance        [data]   [2]       2
60352  PNC1019    PNC Bank  Insurance        [data]   [2]       2
60353  PNC1020    PNC Bank  Insurance        [data]   [2]       2
60354  PNC1021    PNC Bank  Insurance        [data]   [2]       2
60355  PNC1022    PNC Bank  Insurance        [data]   [2]       2
60356  PNC1023    PNC Bank  Insurance        [data]   [2]       2
60357  PNC1024    PNC Bank  Insurance        [data]   [2]       2
60358  PNC1025    PNC Bank  Insurance        [data]   [2]       2
60359  PNC1026    PNC Bank  Insurance        [data]   [2]       2

[60360 rows x 6 columns]

In [ ]:

tech_list = []
for index,row in df2.iterrows():
    if row['cluster'] in ['Payments','Wealth Management','Blockchain','Artificial Intelligence','Reg Tech','Retail','Technology','Data Analysis','Insurance'] and row['count'] > 0:
        tech_list.append('Yes')
    else:
        tech_list.append('No')
df2['fintech']=tech_list

In [ ]:
df2.to_csv('maped_output2.csv', sep=',', encoding='utf-8')

In [ ]:
df2